<!-- myapp/templates/home.html -->
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Welcome to the Home Page!</h1>
    ask a Question
    current questions with ans based on user following topics max likes show first
    user can like dislike question
</body>
</html>


