<li class="list-group-item question-color">
  <div class="mb-2">
    <div class="wrap-content questions">
    </br>
      <h3><a href="{% url 'show_question' question_id=question.id %}">Q. {{ question.content }}</a></h3>
    </div>
    {% with like_count=question.liked_by.count %}
      <button type="button" class="btn btn-sm {% if request.user in question.liked_by.all %}btn-success{% endif %}" onclick="likeDislikeQuestion({{ question.id }}, 'like')">Like (<span id="likeCount_{{ question.id }}">{{ like_count }}</span>)</button>
    {% endwith %}

    {% with dislike_count=question.disliked_by.count %}
      <button type="button" class="btn btn-sm {% if request.user in question.disliked_by.all %}btn-danger{% endif %}" onclick="likeDislikeQuestion({{ question.id }}, 'dislike')">Dislike (<span id="dislikeCount_{{ question.id }}">{{ dislike_count }}</span>)</button>
    {% endwith %}
  </br></br>
    Topics: 
    {% for topic in question.topics.all %}
      <span class="badge bg-info">{{ topic.title }}</span>
    {% endfor %}<br>
  <span class="text-muted">asked by <a href="{% url 'show_profile' user_id=question.user.id %}">{{ question.user.name }}</a></span>
  </div></br>
    {% if question_detail %}
      {% include 'questions/_answer.html' with answers=question.answers.all %}
    {% else %}
      {% include 'questions/_answer.html' with answers=question.answers.all|slice:":2" %}
    {% endif %}
    {% if not question.answers.exists %}
    <p>No answers yet.</p>
  {% endif %}<br>

  <form class="mb-3 ajax-form" method="post" action="{% url 'create_answer' question.id %}">
    {% csrf_token %}
    <div class="input-group">
      <input type="text" class="form-control" name="content" placeholder="Your answer" required>
    </div>
    <div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary ">Submit Answer</button>
    </div>
  </form>
</li>
