{% extends 'commons/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static '/topics/css/style.css' %}">
  <script src="{% static 'questions/js/custom.js' %}"></script>
</head>

<body>
  <div class="container">
    <a href="{% url 'create_question' %}" class="btn btn-secondary mt-3 mb-3">Ask a Question?</a>
    <h2>List of Questions related to Topic: {{ topic.title }}</h2>
    <ul class="list-group mt-4">
      {% if questions %}
        {% for question in questions %}
          {% include 'questions/_question_answers.html' with question=question %}
        {% endfor %}
      {% else %}
        <div class="alert alert-warning">
          <i class="bi-exclamation-triangle"></i> No questions asked yet &#x1F643;
        </div>
      {% endif %}
    </ul>
  </div>
  {% include 'commons/_paginator.html' with list=questions %}
</body>

</html>
{% endblock %}
