<div class="py-1 mb-1 border-bottom">
  <div class="container d-flex justify-content-center align-items-center">
    <form method="get" action="{% url 'dashboard' %}" class="d-flex ssss w-75">
      <div class="form-group me-3">
        <select id="topics" name="topics" class="form-control" multiple>
          {% for topic in all_topics %}
            <option value="{{ topic.id }}" {% if topic.id in selected_topics %}selected{% endif %}>{{ topic.title }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-outline-success mb-2">Apply Filter</button>
    </form>
  </div>
</div>
